<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyblime-Cycling Admin Portal</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/cyblime-cycling-logo.png' %}"/>
    <style>
        header, main, footer {
            padding-left: 240px;
        }
        
        body {
            background: white;
        }
        
        @media only screen and (max-width: 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }
        
        #credits li, #credits li a {
            color: white;
        }
        
        #credits li a {
            font-weight: bold;
        }
        
        .footer-copyright .container, .footer-copyright .container a {
            color: #BCC2E2;
        }
        
        .fab-tip {
            position: fixed;
            right: 85px;
            padding: 0px 0.5rem;
            text-align: right;
            background-color: #323232;
            border-radius: 2px;
            color: #FFF;
            width: auto;
        }
        
        .cyblime-logo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <!-- Sidebar -->
    <ul id="slide-out" class="side-nav fixed z-depth-2">
        <li class="center no-padding">
            <div class="indigo darken-2 white-text" style="height: 180px;">
                <div class="row">
                    <img style="margin-top: 5%;" class="cyblime-logo responsive-img" 
                         src="{% static 'images/cyblime-cycling-logo.png' %}" 
                         alt="Cyblime Cycling Logo" />
                    <p style="margin-top: -13%;">
                        {{ user.get_full_name|default:user.username }}
                    </p>
                </div>
            </div>
        </li>

        <li id="dash_dashboard">
            <a class="waves-effect" href="{% url 'core:material_admin_dashboard' %}">
                <b>Dashboard</b>
            </a>
        </li>

        <ul class="collapsible" data-collapsible="accordion">
            <li id="dash_users">
                <div id="dash_users_header" class="collapsible-header waves-effect">
                    <b>Users</b>
                </div>
                <div id="dash_users_body" class="collapsible-body">
                    <ul>
                        <li id="users_all">
                            <a class="waves-effect" style="text-decoration: none;" 
                               href="{% url 'core:material_admin_users' %}">All Users</a>
                        </li>
                        <li id="users_admin">
                            <a class="waves-effect" style="text-decoration: none;" 
                               href="/hidden-backend-admin/auth/user/">Manage Users</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="dash_content">
                <div id="dash_content_header" class="collapsible-header waves-effect">
                    <b>Content</b>
                </div>
                <div id="dash_content_body" class="collapsible-body">
                    <ul>
                        <li id="content_overview">
                            <a class="waves-effect" style="text-decoration: none;" 
                               href="{% url 'core:material_admin_content' %}">Content Overview</a>
                        </li>
                        <li id="content_blog">
                            <a class="waves-effect" style="text-decoration: none;" 
                               href="/hidden-backend-admin/blog/blogpost/">Blog Posts</a>
                        </li>
                        <li id="content_events">
                            <a class="waves-effect" style="text-decoration: none;" 
                               href="/hidden-backend-admin/events/event/">Events</a>
                        </li>
                        <li id="content_articles">
                            <a class="waves-effect" style="text-decoration: none;" 
                               href="/hidden-backend-admin/articles/article/">Articles</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="dash_slideshow">
                <div id="dash_slideshow_header" class="collapsible-header waves-effect">
                    <b>Slideshow</b>
                </div>
                <div id="dash_slideshow_body" class="collapsible-body">
                    <ul>
                        <li id="slideshow_manage">
                            <a class="waves-effect" style="text-decoration: none;" 
                               href="{% url 'core:material_admin_slideshow' %}">Manage Images</a>
                        </li>
                        <li id="slideshow_admin">
                            <a class="waves-effect" style="text-decoration: none;" 
                               href="/hidden-backend-admin/core/slideshowimage/">Edit in Admin</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li id="dash_settings">
                <div id="dash_settings_header" class="collapsible-header waves-effect">
                    <b>Settings</b>
                </div>
                <div id="dash_settings_body" class="collapsible-body">
                    <ul>
                        <li id="settings_site">
                            <a class="waves-effect" style="text-decoration: none;" 
                               href="{% url 'core:material_admin_settings' %}">Site Settings</a>
                        </li>
                        <li id="settings_django">
                            <a class="waves-effect" style="text-decoration: none;" 
                               href="/hidden-backend-admin/" target="_blank">Django Admin</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </ul>

    <!-- Header -->
    <header>
        <ul class="dropdown-content" id="user_dropdown">
            <li><a class="indigo-text" href="/dashboard/">My Profile</a></li>
            <li><a class="indigo-text" href="{% url 'users:logout' %}">Logout</a></li>
        </ul>

        <nav class="indigo" role="navigation">
            <div class="nav-wrapper">
                <a data-activates="slide-out" class="button-collapse show-on-" href="#!">
                    <img style="margin-top: 17px; margin-left: 5px; height: 30px;" 
                         src="{% static 'images/cyblime-cycling-logo.png' %}" 
                         alt="Cyblime Logo" />
                </a>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class='right dropdown-button' href='' data-activates='user_dropdown'>
                            <i class='material-icons'>account_circle</i>
                        </a>
                    </li>
                </ul>

                <a href="#" data-activates="slide-out" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>

        <nav>
            <div class="nav-wrapper indigo darken-2">
                <a style="margin-left: 20px;" class="breadcrumb" href="#!">Cyblime Admin</a>
                <a class="breadcrumb" href="#!">Dashboard</a>

                <div style="margin-right: 20px;" id="timestamp" class="right"></div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <div class="row">
            <div class="col s6">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="left card-title">
                            <b>User Management</b>
                        </div>
                    </div>

                    <div class="row">
                        <a href="{% url 'core:material_admin_users' %}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">person</i>
                                <span class="indigo-text text-lighten-1">
                                    <h5>{{ user_count }} Users</h5>
                                </span>
                            </div>
                        </a>
                        <div class="col s1">&nbsp;</div>
                        <div class="col s1">&nbsp;</div>

                        <a href="/hidden-backend-admin/auth/user/">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">people</i>
                                <span class="indigo-text text-lighten-1">
                                    <h5>Manage Users</h5>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="left card-title">
                            <b>Content Management</b>
                        </div>
                    </div>
                    <div class="row">
                        <a href="{% url 'core:material_admin_content' %}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">article</i>
                                <span class="indigo-text text-lighten-1">
                                    <h5>{{ blog_count }} Posts</h5>
                                </span>
                            </div>
                        </a>

                        <div class="col s1">&nbsp;</div>
                        <div class="col s1">&nbsp;</div>

                        <a href="/hidden-backend-admin/events/event/">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">event</i>
                                <span class="indigo-text text-lighten-1">
                                    <h5>{{ event_count }} Events</h5>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="left card-title">
                            <b>Gallery & Media</b>
                        </div>
                    </div>

                    <div class="row">
                        <a href="/hidden-backend-admin/gallery/photo/">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">photo_library</i>
                                <span class="indigo-text text-lighten-1">
                                    <h5>{{ photo_count }} Photos</h5>
                                </span>
                            </div>
                        </a>

                        <div class="col s1">&nbsp;</div>
                        <div class="col s1">&nbsp;</div>

                        <a href="{% url 'core:material_admin_slideshow' %}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">slideshow</i>
                                <span class="indigo-text text-lighten-1">
                                    <h5>{{ slideshow_count }} Slides</h5>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col s6">
                <div style="padding: 35px;" align="center" class="card">
                    <div class="row">
                        <div class="left card-title">
                            <b>Site Management</b>
                        </div>
                    </div>
                    <div class="row">
                        <a href="{% url 'core:material_admin_settings' %}">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">settings</i>
                                <span class="indigo-text text-lighten-1">
                                    <h5>Site Settings</h5>
                                </span>
                            </div>
                        </a>
                        <div class="col s1">&nbsp;</div>
                        <div class="col s1">&nbsp;</div>

                        <a href="/hidden-backend-admin/" target="_blank">
                            <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                                <i class="indigo-text text-lighten-1 large material-icons">admin_panel_settings</i>
                                <span class="truncate indigo-text text-lighten-1">
                                    <h5>Django Admin</h5>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Floating Action Button -->
        <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large pink waves-effect waves-light">
                <i class="large material-icons">add</i>
            </a>

            <ul>
                <li>
                    <a class="btn-floating red" href="/hidden-backend-admin/blog/blogpost/add/">
                        <i class="material-icons">note_add</i>
                    </a>
                    <a href="/hidden-backend-admin/blog/blogpost/add/" class="btn-floating fab-tip">Add a blog post</a>
                </li>

                <li>
                    <a class="btn-floating yellow darken-1" href="/hidden-backend-admin/core/slideshowimage/add/">
                        <i class="material-icons">add_a_photo</i>
                    </a>
                    <a href="/hidden-backend-admin/core/slideshowimage/add/" class="btn-floating fab-tip">Add slideshow image</a>
                </li>

                <li>
                    <a class="btn-floating green" href="/hidden-backend-admin/events/event/add/">
                        <i class="material-icons">alarm_add</i>
                    </a>
                    <a href="/hidden-backend-admin/events/event/add/" class="btn-floating fab-tip">Add an event</a>
                </li>

                <li>
                    <a class="btn-floating blue" href="/hidden-backend-admin/auth/user/add/">
                        <i class="material-icons">person_add</i>
                    </a>
                    <a href="/hidden-backend-admin/auth/user/add/" class="btn-floating fab-tip">Add a user</a>
                </li>
            </ul>
        </div>
    </main>

    <!-- Footer -->
    <footer class="indigo page-footer">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">Cyblime-Cycling Admin Portal</h5>
                    <ul id='credits'>
                        <li>
                            Material Design Admin Dashboard for Cyblime Cycling Club Management
                        </li>
                        <li>
                            Icons made by <a href="https://material.io/icons/">Google</a>, 
                            available under <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License Version 2.0</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <span>Cyblime-Cycling © {% now "Y" %} - Brooklyn Cycling Club</span>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Initialize Materialize components
            M.Sidenav.init(document.querySelectorAll('.button-collapse'));
            M.Collapsible.init(document.querySelectorAll('.collapsible'));
            M.Dropdown.init(document.querySelectorAll('.dropdown-button'));
            M.FloatingActionButton.init(document.querySelectorAll('.fixed-action-btn'));
            
            // Update timestamp
            function updateTimestamp() {
                const now = new Date();
                document.getElementById('timestamp').textContent = now.toLocaleString();
            }
            updateTimestamp();
            setInterval(updateTimestamp, 1000);
        });
    </script>
</body>
</html>